@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.comfort-collect {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @include fluidRem(column-gap, 16px, 27px);
    @include fluidRem(row-gap, 16px, 27px);
    @include hover {
        &:has(.comfort-box:hover) {
            .comfort-box:not(:hover)::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @include media('mobile') {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .empty-state {
        grid-column: span 3;
        text-align: center;
        @include media('mobile') {
            grid-column: span 1;
        }
    }
}

.comfort-box {
    padding: rem(5px);
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        content: '';
        opacity: 0;
        visibility: hidden;
        position: absolute;
        inset: -5px;
        z-index: 2;
        backdrop-filter: blur(7px);
        background: #f5ece033;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            opacity: 1;
            visibility: visible;
        }
    }

    @include hover {
        .comfort-box__preview * {
            transform: scale(1.15);
        }
        .comfort-box__info {
            transform: translateY(0);
        }
    }

    @include media('mobile') {
        &.is-active {
            &::after {
                opacity: 0;
                visibility: hidden;
            }

            .comfort-box__preview img {
                transform: scale(1.15);
            }

            .comfort-box__info {
                transform: translate(0);
            }
        }
    }

    &__details {
        overflow: hidden;
        position: relative;
        @include media('mobile') {
            display: flex;
            flex-direction: column-reverse;
            gap: rem(20px);
        }
    }

    &__preview {
        aspect-ratio: 555 / 674;
        overflow: hidden;
        background: #d9d9d9;
        @include media('mobile') {
            aspect-ratio: 340 / 300;
            height: min(rem(300px), 85vh);
            height: min(rem(300px), 85svh);
        }

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__info {
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        @include fluidRem(font-size, 14px, 24px);
        @include fluidRem(padding, 12px, 20px);
        background: $c_light;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            top: auto;
            bottom: 0;
            transform: translateY(100%);
        }
    }

    &__title {
        @include fluidRem(font-size, 20px, 35px);
        font-family: $ff_sec;
        @include fluidRem(padding-top, 5px, 34px);
        @include media('mobile') {
            padding-top: 0;
        }
    }
}
