@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @include fluidRem(gap, 10px, 30px);
    &__pic {
        width: 100%;
        aspect-ratio: 627 / 783;
        overflow: hidden;
        max-height: min(rem(783px), 90vh);
        max-height: min(rem(783px), 90svh);
        background: #d9d9d9;
        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
