@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.room-details {
    display: flex;
    align-items: center;
    @include fluidRem(gap, 6px, 31px);

    li {
        display: flex;
        align-items: center;
        gap: rem(10px);
        @include fluidRem(font-size, 14px, 20px);
        line-height: 95%;

        span {
            font-weight: bold;
        }

        img {
            width: rem(22px);
            height: rem(22px);
            object-fit: contain;
        }
    }
}
