@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20px);
    @include fluidRem(margin-bottom, 30px, 80px);
    @include media('mobile') {
        flex-direction: column;
    }

    .cta {
        min-width: rem(155px);
        justify-content: center;
    }
}
