@use 'media' as *;
@use 'mixins' as *;

$system-ff:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;

$ff_base: 'IBM Plex Sans';
$ff_sec: 'Tenor Sans';

$container_wdth: #{rem(1920px)};

$bg_body: #f5ece0;

$c_light: #f5ece0;
$c_dark: #584738;
$c_white: #fff;
$c_green: #394225;
$c_milk: #f1eada;

$gradient_gold: linear-gradient(
    123.03deg,
    #5e3e1b 11.01%,
    #edcc85 29.5%,
    #815511 49.54%,
    #edcc85 74.97%,
    #544013 91.15%
);

$gradient_accent: linear-gradient(
    92.98deg,
    #384125 2.83%,
    #687945 25.51%,
    #526036 45.01%,
    #687945 65.88%,
    #556338 97.17%
);

:root {
    @include fluidRem(--section_gap, 50px, 100px);
    --container_pdd: #{rem(80px)};
    --header_h: #{rem(150px)};
    --panel_h: #{rem(71px)};
}

@media (max-width: 1700.98px) {
    :root {
        --container_pdd: #{rem(32px)};
    }
}

@include media('desktop-lg') {
    :root {
        --header_h: #{rem(120px)};
    }
}

@include media('tablet') {
    :root {
        --container_pdd: #{rem(24px)};
        --header_h: #{rem(100px)};
    }
}

@include media('mobile') {
    :root {
        --container_pdd: #{rem(12px)};
    }
}
