<div class="atmosphere-slider js-atmosphere-slider">
    <div class="atmosphere-slider__gallery swiper">
        <div class="atmosphere-slider__wrapper swiper-wrapper">
            <div class="atmosphere-slider__slide swiper-slide">
                <div class="atmosphere-slider__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/atm_1.png" alt="Picture">
                </div>
            </div>
            <div class="atmosphere-slider__slide swiper-slide">
                <div class="atmosphere-slider__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/atm_2.png" alt="Picture">
                </div>
            </div>
            <div class="atmosphere-slider__slide swiper-slide">
                <div class="atmosphere-slider__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/atm_3.png" alt="Picture">
                </div>
            </div>
            <div class="atmosphere-slider__slide swiper-slide">
                <div class="atmosphere-slider__pic">
                    <img src="./assets/images/atm_2.png" alt="Picture">
                </div>
            </div>
        </div>
    </div>
    {{#if linesPagination}}
        {{> _linesPagination}}
    {{/if}}

    {{#if dotsPagination}}
    {{/if}}
</div>