<div class="dots-pagination">
    <button type="button" class="control-btn control-btn--arrow js-control-prev">
        <svg>
            <use href="./assets/images/icons/svg/sprite.svg#icoArrow-r"></use>
        </svg>
    </button>
    <div class="dots-pagination__track js-pagination is-dots"></div>
    <button type="button" class="control-btn control-btn--arrow js-control-next">
        <svg>
            <use href="./assets/images/icons/svg/sprite.svg#icoArrow-r"></use>
        </svg>
    </button>
</div>