@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.lines-pagination {
    @include fluidRem(padding-top, 20px, 40px);
    display: flex;
    align-items: center;
    @include fluidRem(gap, 12px, 23px);

    &__track {
        position: relative !important;
        height: rem(1px) !important;
        background: #00000033;

        .swiper-pagination-progressbar-fill {
            height: rem(2px);
            top: rem(-1px);
            background: #00000080;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: rem(10px);
        &:has(.swiper-button-lock) {
            display: none;
        }
    }
}

.dots-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(24px);
    max-width: rem(1355px);
    margin: 0 auto;
    @include fluidRem(padding-top, 24px, 40px);

    &__track {
        display: flex;
        align-items: center;
        justify-content: center;
        @include fluidRem(gap, 4px, 10px);
    }

    .swiper-pagination-bullet {
        margin: 0 !important;
        opacity: 1 !important;
        @include fluidRem(width, 6px, 14px);
        @include fluidRem(height, 6px, 14px);
        background: #58473880;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &-active {
            background: $c_dark;
        }
    }
}

.navigation-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);

    &:has(.control-btn:only-child) {
        .control-btn {
            transform: rotate(0);
        }
    }
}

.control-btn {
    @include fluidRem(width, 30px, 50px);
    @include fluidRem(height, 30px, 50px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    &.swiper-button-lock {
        display: none;
    }

    &:first-of-type {
        transform: rotate(180deg);
    }

    &.swiper-button-disabled {
        pointer-events: none;
        background: transparent;
    }

    svg {
        @include fluidRem(width, 12px, 20px);
        @include fluidRem(height, 12px, 20px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &--brown {
        border: 1px solid #58473833;
        background: $c_dark;
        color: $c_light;
        &.swiper-button-disabled {
            color: #58473880;
        }
    }

    &--milk {
        background: $c_light;
        color: $c_dark;
        border: 1px solid $c_light;
        &.swiper-button-disabled {
            background: transparent;
            color: $c_light;
        }
    }

    &--green {
        border: 1px solid #3e472a33;
        background: #3e472a;
        color: #efe5d9;
        &.swiper-button-disabled {
            color: #3e472a80;
        }
    }

    &--white {
        color: #f5ece0;
        border: 1px solid #f5ece0;
    }

    &--arrow {
        width: rem(30px);
        height: rem(30px);

        svg {
            width: 100%;
            height: 100%;
        }

        &.swiper-button-disabled {
            opacity: 0.5;
        }
    }

    &--circle {
        border-radius: 50%;
        @include fluidRem(width, 38px, 74px);
        @include fluidRem(height, 38px, 74px);
        svg {
            @include fluidRem(width, 12px, 15px);
            @include fluidRem(height, 12px, 15px);
        }
    }
}
