@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

section:has(.swiper) {
    overflow: hidden;
}

.atmosphere-slider {
    &__gallery {
        overflow: visible;
    }

    &__slide {
        width: min(90%, rem(1355px));
        height: min(rem(765px), 85vh);
        height: min(rem(765px), 85svh);
        @include media('mobile') {
            height: min(rem(230px), 85vh);
            height: min(rem(230px), 85svh);
        }
    }

    &__pic {
        width: 100%;
        height: 100%;
        aspect-ratio: 1355 / 765;
        overflow: hidden;
        background: #d9d9d9;
        @include media('mobile') {
            aspect-ratio: 316 / 230;
        }

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.conference-slider {
    position: relative;
    --slide-ratio: #{rem(673px)};

    &__gallery {
        overflow: visible;
    }

    &__slide {
        width: min(90%, var(--slide-ratio));

        .conference-box {
            transform: scale(0.8);
            transform-origin: top;
            @include media('mobile') {
                transform: scale(1);
            }
        }

        &.swiper-slide-active {
            .conference-box {
                transform: scale(1);
            }
        }
    }

    .control-btn {
        position: absolute;
        z-index: 3;
        top: 40%;
        @include media('mobile') {
            display: none;
        }

        &:first-of-type {
            left: calc(50% - (var(--slide-ratio) / 2) - rem(55px));
            transform: translate(-50%, -50%) rotate(180deg);
            @include media('tablet') {
                left: calc(50% - (var(--slide-ratio) / 2) - rem(20px));
            }
        }

        &:last-of-type {
            right: calc(50% - (var(--slide-ratio) / 2) - rem(55px));
            transform: translate(50%, -50%);
            @include media('tablet') {
                right: calc(50% - (var(--slide-ratio) / 2) - rem(20px));
            }
        }
    }
}

.rooms-slider {
    &__gallery {
        overflow: visible;
    }

    &__slide {
        width: min(100%, rem(976px));
        @include media('mobile') {
            width: auto;
        }
    }

    .lines-pagination {
        @include media('mobile') {
            display: none;
        }
    }
}

.gallery-slider {
    position: relative;

    &__slide {
        width: auto;
        width: min(90%, rem(845px));
        height: min(rem(564px), 85vh);
        height: min(rem(564px), 85svh);
    }

    &__pic {
        aspect-ratio: 845 / 564;
        height: 100%;
        width: 100%;
        background: #d9d9d9;

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__show {
        overflow: visible;
    }

    .navigation-box {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 2;
    }
}
