<div class="aside-menu js-aside-menu">
    <div class="aside-menu__box">
        <ul class="aside-menu__list">
            {{#each menuInfo.header}}
            <li>
                <a href="javascript: void(0)">{{ title }}</a>
            </li>
            {{/each}}
        </ul>
        <div class="aside-menu__calls">
            <div class="aside-menu__call">
                <p class="aside-menu__title">Бронювання номерів:</p>
                <a href="tel:+00000000000" class="aside-menu__link">+38 (032) XXX XX XX</a>
            </div>
            <div class="aside-menu__call">
                <p class="aside-menu__title">Організація подій:</p>
                <a href="tel:+00000000000" class="aside-menu__link">+38 (032) XXX XX XX</a>
            </div>
        </div>
    </div>
</div>