<a href="javascript: void(0)" class="choice-box">
    <img src="{{ picture }}" alt="">
    <div class="choice-box__content">
        <p class="choice-box__title">{{ title }}</p>
        <div class="choice-box__link">
            <div>
                <p class="choice-box__trigger">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./assets/images/icons/svg/sprite.svg#icoArrow-r"></use>
                    </svg>
                </p>
            </div>
        </div>
    </div>
</a>