<div class="faq-box js-faq-box">
    <div class="faq-box__info">
        <button type="button" class="faq-box__toggle js-faq-toggle">
            <h3 class="faq-box__title">{{ question }}</h3>
            <svg>
                <use href="./assets/images/icons/svg/sprite.svg#icoArrow-r"></use>
            </svg>
        </button>
        <div class="faq-box__content">
            <div class="faq-box__answer">
                <p>{{{ answer }}}</p>
            </div>
        </div>
    </div>
</div>