<div class="form-box">
    <form>
        <div class="form-box__data">
            <div class="handler-field">
                <input required type="text" placeholder="Ваше ім’я" id="formName" name="formName">
            </div>
            <div class="handler-field">
                <input required type="email" placeholder="Ваш email" id="formEmail" name="formEmail">
            </div>
            <div class="handler-field">
                <input required type="text" placeholder="Ваше повідомлення" id="formMessage" name="formMessage">
            </div>
            <button type="submit" class="cta">
                <span>Надіслати</span>
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoArrow-r"></use>
                </svg>
            </button>
        </div>
    </form>
</div>