<div class="mobile-panel">
    <ul class="mobile-panel__list">
        <li>
            <a target="_blank" href="javascript: void(0)">
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoMenu"></use>
                </svg>
                <p>
                    меню
                </p>
            </a>
        </li>
        <li>
            <a target="_blank" href="javascript: void(0)">
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoCal"></use>
                </svg>
                <p>
                    Забронювати стіл
                </p>
            </a>
        </li>
        <li>
            <a target="_blank" href="javascript: void(0)">
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoPin"></use>
                </svg>
                <p>
                    Маршрут
                </p>
            </a>
        </li>
        <li>
            <a target="_blank" href="javascript: void(0)">
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoPhone"></use>
                </svg>
                <p>
                    Телефон
                </p>
            </a>
        </li>
    </ul>
</div>