<section class="about">
    <div class="container">
        <div class="about__info">
            <h2 class="section-subtitle">
                Розташований у Львові, комплекс Sonata поєднує комфортне проживання, конференц-сервіс та простір для
                подій.
            </h2>
            <div class="about__ico">
                <img loading="lazy" decoding="async" src="./assets/images/icons/ico-about.svg" alt="Icon">
            </div>
            <div class="site-text site-text--sm">
                <p>
                    Понад 15 років ми створюємо атмосферу гостинності для гостей Львова. 132 комфортні номери, ресторан, конференц-зали та банкетні простори забезпечують усе необхідне для відпочинку, роботи та особливих подій.
                </p>
            </div>
            {{> _cta text = 'Про готель'}}
        </div>
    </div>
    <div class="about__bg">
        <img src="./assets/images/bg-about.svg" alt="">
    </div>
</section>