<section class="contacts">
    <div class="contacts__content">
        <div class="container">
            <div class="contacts__overview">
                <div class="contacts__info">
                    <h2 class="section-title">Як нас знайти?</h2>
                    <div class="site-text site-text--sm">
                        <p>
                            Відпочинок, комфорт та незабутні враження від початку до кінця. Зв’яжіться з нами будь-яким
                            зручним способом.
                        </p>
                    </div>
                </div>
            </div>
            <div class="contacts__details">
                <div class="contacts__connect">
                    <div class="contacts__box">
                        <p class="section-details">рецепція (цілодобово)</p>
                        <div class="contacts__support">
                            <a href="tel:+380322325000" class="contacts__inquiry">
                                +38 (032) 232-50-00
                            </a>
                            <a href="tel:+380322325000" class="contacts__inquiry">
                                +38 (032) 232-50-00
                            </a>
                        </div>
                    </div>
                    <div class="contacts__box">
                        <p class="section-details">РЕСТОРАН (цілодобово)</p>
                        <div class="contacts__support">
                            <a href="tel:+380131244424" class="contacts__inquiry">
                                +38 (013) 124-44-24
                            </a>
                            <a href="tel:+380512981929" class="contacts__inquiry">
                                +38 (051) 298-19-29
                            </a>
                        </div>
                    </div>
                    <div class="contacts__box">
                        <p class="section-details">рецепція (цілодобово)</p>
                        <div class="contacts__support">
                            <a href="mailto:info@sonatahotel.com.ua" class="contacts__inquiry">
                                info@sonatahotel.com.ua
                            </a>
                        </div>
                    </div>
                    <div class="contacts__box">
                        <p class="section-details">адреса</p>
                        <div class="contacts__support">
                            <p class="contacts__inquiry">
                                Україна, м.Львів, вул.Морозна, 14
                            </p>
                        </div>
                        {{> _cta text = 'Прокласти маршрут' arrow = true}}
                    </div>
                    <div class="contacts__box">
                        <p class="section-details">Ми в соціальних мережах</p>
                        <ul class="contacts__media">
                            <li>
                                <a target="_blank" href="javascript: void(0)">
                                    <svg>
                                        <use href="./assets/images/icons/svg/sprite.svg#icoFacebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="javascript: void(0)">
                                    <svg>
                                        <use href="./assets/images/icons/svg/sprite.svg#icoInst"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="javascript: void(0)">
                                    <svg>
                                        <use href="./assets/images/icons/svg/sprite.svg#icoViber"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="javascript: void(0)">
                                    <svg>
                                        <use href="./assets/images/icons/svg/sprite.svg#icoTelegram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts__content">
        <div class="container">
            <div class="contacts__overview">
                <div class="contacts__info">
                    <h2 class="section-title">Зв’яжіться з нами</h2>
                    <p class="section-details">ВАША ДУМКА ДЛЯ НАС ВАЖЛИВА</p>
                    <div class="site-text site-text--sm">
                        <p>
                            Маєте запитання, пропозиції або бажаєте поділитися враженнями від перебування? Зв'яжіться з
                            нами
                            будь-яким зручним способом — ми завжди раді допомогти.
                        </p>
                    </div>
                </div>
                {{> _formBox}}
            </div>
            <div class="contacts__details">
                <div class="contacts__descriptions">
                    <div class="contacts__description">
                        <h3>Партнерам</h3>
                        <p>
                            Ми завжди відкриті до нових партнерств і цікавих проєктів. Якщо у вас є пропозиція щодо
                            співпраці, надішліть її на <a
                                href="mailto:info@sonatahotel.com.ua">info@sonatahotel.com.ua</a>, і наша команда
                            зв'яжеться з вами
                            найближчим часом.
                        </p>
                    </div>
                    <div class="contacts__description">
                        <h3>Кар'єра</h3>
                        <p>
                            Хочете стати частиною нашої команди та створювати незабутній сервіс для гостей? Надішліть
                            своє резюме на <a href="mailto:info@sonatahotel.com.ua">info@sonatahotel.com.ua</a> — будемо
                            раді познайомитися з вами.
                        </p>
                    </div>
                </div>
                <div class="contacts__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/bg-reason.png" alt="Picture">
                </div>
            </div>
        </div>
    </div>
</section>