<section class="conference">
    <div class="container">
        <div class="conference__head">
            <h2 class="section-title">Конференц-сервіс</h2>
            <div class="site-text site-text--sm">
                <p>
                    Сучасні конференц-зали для проведення ділових заходів, тренінгів, семінарів, презентацій та корпоративних подій будь-якого формату.
                </p>
            </div>
            {{> _cta text = 'всі зали' arrow = true}}
        </div>
        {{> _conferenceSlider}}
    </div>
    <div class="bg-branch bg-branch--r">
        <img src="./assets/images/icons/branch-r.svg" alt="">
    </div>
    <div class="bg-branch bg-branch--l">
        <img src="./assets/images/icons/branch-r.svg" alt="">
    </div>
</section>