<section class="design">
    <div class="container">
        <h2 class="section-title">Стильний дизайн та приємна атмосфера</h2>
        <div class="design__info">
            <div class="site-text site-text--md">
                <p>
                    сприятимуть продуктивним переговорам, невимушеним розмовам та незабутнім святкуванням.
                    забронювати кімнату
                </p>
            </div>
            <a href="javascript: void(0)" class="cta">
                <span>забронювати</span>
            </a>
        </div>
    </div>
    <div class="bg-branch bg-branch--r">
        <img src="./assets/images/branch.svg" alt="">
    </div>
    <div class="bg-branch bg-branch--l">
        <img src="./assets/images/branch.svg" alt="">
    </div>
</section>