<section class="details">
    <div class="container">
        <div class="details__txts">
            <h2>Детальніше про номер</h2>
            <p>
                Стандарт — комфортний номер для одномісного або двомісного розміщення. Продумане планування, затишний інтер'єр та все необхідне для відпочинку після насиченого дня у Львові. Ідеальний вибір для туристичних і ділових поїздок.
            </p>
        </div>
    </div>
    <div class="details__bg">
        <img src="./assets/images/bg-about.svg" alt="">
    </div>
</section>