<section class="event">
    <div class="event__preview event__preview--lg">
        <img loading="lazy" decoding="async" src="./assets/images/event_1.png" alt="Picture">
    </div>
    <div class="event__info">
        <ul class="room-details">
            <li>
                <img loading="lazy" decoding="async" src="./assets/images/icons/ico-peoples.png" alt="Icon">
                <p>вмістимість залу: <span>до 100 осіб</span></p>
            </li>
            <li>
                <img loading="lazy" decoding="async" src="./assets/images/icons/ico-build.png" alt="Icon">
                <p>площа: <span>120M²</span></p>
            </li>
        </ul>
        <div class="event__txts">
            <h2>Event Hall</h2>
            <p>
                Зал прекрасно підійде для будь-якого формату Вашого свята!
                Виконаний у благородному стилі, знаходиться на другому поверсі ресторанного комплексу. По обидві сторони
                залу розташовані літні тераси , зал поміщає до 70 осіб, пропонується розміщення за загальними та
                круглими столами для комфорту усіх Ваших гостей.
            </p>
        </div>
        <div class="event__preview event__preview--sm">
            <img loading="lazy" decoding="async" src="./assets/images/event_2.png" alt="Picture">
        </div>
    </div>
</section>