<section class="garden">
    <div class="container">
        <div class="garden__head">
            <h2 class="section-title">Garden Hall</h2>
            <div class="garden__txts">
                <p>
                    Зимовий сад в ресторані Sonata, красива і неповторна зона відпочинку для наших гостей.
                    У відпочинковій зоні розташована мальовнича тераса , літні майданчики, барбекю та дитячий майданчик.
                </p>
            </div>
        </div>
    </div>
    <div class="garden__gallery">
        <div class="garden__pic garden__pic--lg">
            <img loading="lazy" decoding="async" src="./assets/images/garden_1.png" alt="Picture">
        </div>
        <div class="garden__pic garden__pic--sm">
            <img loading="lazy" decoding="async" src="./assets/images/garden_2.png" alt="Picture">
        </div>
    </div>
</section>