<section class="hero greetings-block">
    <div class="container">
        <div class="hero__content">
            <div class="hero__preview">
                <div class="site-text">
                    <p>Комфортний відпочинок у Львові <br> для бізнесу та подорожей</p>
                </div>
                <h1 class="hero__title">SONATA</h1>
                <h2 class="hero__subtitle">hotel & restaurant</h2>
            </div>
            {{> _reserveWidget}}
        </div>
    </div>
    <div class="bg-layer">
        <img src="./assets/images/hero.png" alt="">
    </div>
</section>