<section class="includes">
    <div class="container">
        <div class="includes-info">
            <h3 class="section-label">Є в номері</h3>
            <ul class="includes-info__list">
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_1.png" alt="Icon">
                    <p>Ліжко Double / Twin</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_2.png" alt="Icon">
                    <p>Косметичні засоби</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_3.png" alt="Icon">
                    <p>Телевізор з пласким екраном</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_4.png" alt="Icon">
                    <p>Безкоштовний Wi-Fi</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_5.png" alt="Icon">
                    <p>Душова кабіна</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_6.png" alt="Icon">
                    <p>Фен</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/incl_7.png" alt="Icon">
                    <p>Капці</p>
                </li>
            </ul>
        </div>
        {{> _atmosphereSlider }}
    </div>
</section>