<section class="maintenance">
    <div class="maintenance__preview">
        <img loading="lazy" decoding="async" src="./assets/images/maintenance.png" alt="Picture">
    </div>
    <div class="maintenance__collect">
        <div class="container">
            <ul class="maintenance__list">
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/m_1.png" alt="Icon">
                    <h3>Авторський підхід до кожної страви</h3>
                    <p>
                        Поєднання якісних продуктів, перевірених рецептів та уваги до деталей у кожній подачі.
                    </p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/m_2.png" alt="Icon">
                    <h3>Простір для особливих моментів</h3>
                    <p>
                        Затишна атмосфера ресторану створює ідеальні умови для зустрічей, святкувань та важливих подій.
                    </p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/m_3.png" alt="Icon">
                    <h3>Ресторанний сервіс для будь-якого формату</h3>
                    <p>
                        Від сімейної вечері до масштабного банкету чи корпоративного заходу — ми подбаємо про комфорт
                        кожного
                        гостя.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>