<section class="overview">
    <div class="overview__content">
        <div class="overview__info">
            <div class="overview__details">
                <p class="overview__title">ресторан sonata</p>
                <h3 class="section-subtitle">
                    Місце для сніданків, сімейних
                    вечерь, святкувань та
                    корпоративних подій.
                </h3>
                <ul class="overview__list">
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/over_1.png" alt="Icon">
                        <p>Українська та європейська кухня</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/over_2.png" alt="Icon">
                        <p>Банкети та святкові події</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/over_3.png" alt="Icon">
                        <p>Затишна атмосфера</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/over_4.png" alt="Icon">
                        <p>Щоденне обслуговуван ня гостей</p>
                    </li>
                </ul>
                <div class="overview__controls">
                    {{> _cta text = 'Переглянути меню' arrow = true}}
                    <a href="javascript: void(0)" class="cta cta--transparent cta--accent">
                        <span>замовити банкет</span>
                        <svg>
                            <use href="./assets/images/icons/svg/sprite.svg#icoCall"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="overview__pic">
            <img loading="lazy" decoding="async" src="./assets/images/overview.png" alt="Picture">
        </div>
    </div>
    <div class="bg-branch">
        <img src="./assets/images/icons/branch-r.svg" alt="">
    </div>
</section>