<section class="services">
    <div class="container">
        <div class="services__info">
            <div class="services__details">
                <h2 class="section-title">Інформація про готель</h2>
                <ul class="services__list">
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_1.png" alt="Icon">
                        <p>132 сучасні номери</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_2.png" alt="Icon">
                        <p>Ресторан</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_3.png" alt="Icon">
                        <p>Конференц-зали до 180 гостей</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_4.png" alt="Icon">
                        <p>5 банкетних залів</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_5.png" alt="Icon">
                        <p>Внутрішній дворик для церемоній</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_6.png" alt="Icon">
                        <p>Pet Friendly</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_7.png" alt="Icon">
                        <p>Караоке-лаунж</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_8.png" alt="Icon">
                        <p>Парковка із зарядною станцією</p>
                    </li>
                </ul>
            </div>
            <div class="services__details">
                <h2 class="section-title">Послуги та зручності</h2>
                <ul class="services__list">
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_9.png" alt="Icon">
                        <p>Сніданок включено</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_10.png" alt="Icon">
                        <p>Безкоштовний Wi-Fi</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_11.png" alt="Icon">
                        <p>Room Service 24/7</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_12.png" alt="Icon">
                        <p>Камера зберігання багажу</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_13.png" alt="Icon">
                        <p>Виклик таксі</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_14.png" alt="Icon">
                        <p>Дзвінок-будильник</p>
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/s_15.png" alt="Icon">
                        <p>Пральня та прасування</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="services__sticky">
            <div class="services__preview">
                <img loading="lazy" decoding="async" src="./assets/images/services.png" alt="Picture">
                {{> _cta text = 'забронювати'}}
            </div>
        </div>
    </div>
</section>