<section class="showcase">
    <div class="showcase__pic">
        <img loading="lazy" decoding="async" src="./assets/images/showcase.png" alt="Picture">
    </div>
    <div class="showcase__info">
        <h2>Karaoke</h2>
        <p>
            Улюблені пісні в улюбленому ресторані наповнять Ваш вечір приємними емоціями і створять незабутній
            настрій.Ви зможете заспівати самі, або замовити виконання будь-якої пісні у наших вокалістів.
        </p>
        <p>
            Фірмові коктейлі від наших барменів допоможуть забути про втому і стануть прекрасним доповненням чарівного
            вечора!Також пропонуємо організацію вашого бенкету у караоке-залі!
        </p>
    </div>
</section>