@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.cta {
    min-height: rem(54px);
    align-items: center;
    position: relative;
    @include fluidRem(font-size, 14px, 18px);
    text-transform: uppercase;
    @include fluidRem(padding-block, 11px, 14px);
    @include fluidRem(padding-inline, 18px, 29px);
    border-radius: 999px;
    color: $c_light;
    background: $gradient_accent;
    border: 1px solid #edcc85;
    background-size: 200% 100%;
    background-position: 0% 50%;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    @include hover {
        background-position: 100% 50%;
    }

    &:has(svg) {
        align-items: center;
        gap: rem(10px);
        svg {
            width: rem(12px);
            aspect-ratio: 1;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        @include hover {
            svg {
                transform: translateX(rem(3px));
            }
        }
    }

    &--accent {
        border: none;
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            padding: rem(2px);
            border-radius: inherit;
            background: $gradient_gold;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }
    }

    &--transparent {
        background: transparent;
        color: #000;

        &:has(svg) {
            svg {
                width: rem(24px);
            }

            @include hover {
                svg {
                    transform: translate(0);
                }
            }
        }
    }
}
