@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.section-title {
    font-family: $ff_sec;
    @include fluidRem(font-size, 30px, 90px);
}

.section-subtitle {
    @include fluidRem(font-size, 24px, 50px);
    font-family: $ff_sec;
}

.section-subheading {
    @include fluidRem(font-size, 50px, 150px);
    font-family: $ff_sec;
}

.section-heading {
    @include fluidRem(font-size, 70px, 180px);
    font-family: $ff_sec;
}

.section-description {
    @include fluidRem(font-size, 24px, 40px);
    font-family: $ff_sec;
    text-transform: uppercase;
}

.section-label {
    @include fluidRem(font-size, 24px, 60px);
    font-family: $ff_sec;
}

.section-details {
    @include fluidRem(font-size, 14px, 24px);
    font-weight: 600;
    text-transform: uppercase;
}

.site-text {
    @include fluidRem(font-size, 18px, 24px);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: rem(24px);

    &--md {
        @include fluidRem(font-size, 18px, 22px);
    }

    &--sm {
        @include fluidRem(font-size, 16px, 20px);
    }

    * {
        margin: 0;
    }

    a {
        text-decoration: underline;
    }
}

.empty-state {
    @include fluidRem(font-size, 24px, 40px);
    font-family: $ff_sec;
    text-transform: uppercase;
    text-align: center;
}
