@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.comfort {
    padding-block: calc(var(--section_gap) - rem(20px));

    .section-title {
        text-align: center;
        margin-bottom: rem(50px);
    }
}
