@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.details {
    position: relative;
    padding-block: calc(var(--section_gap) + rem(72px))
        calc(var(--section_gap) + rem(72px));
    position: relative;
    @include media('mobile') {
        padding-block: calc(var(--section_gap) + rem(20px))
            calc(var(--section_gap) + rem(50px));
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__txts {
        max-width: rem(1035px);
        margin: 0 auto;
        @include fluidRem(font-size, 16px, 22px);
        display: flex;
        flex-direction: column;
        @include fluidRem(gap, 30px, 60px);

        h2,
        h3 {
            @include fluidRem(font-size, 30px, 90px);
            text-align: center;
            font-family: $ff_sec;
        }

        h4,
        h5,
        h6 {
            @include fluidRem(font-size, 20px, 50px);
            text-align: center;
            font-family: $ff_sec;
        }

        p {
            text-align: center;
            max-width: rem(780px);
            margin: 0 auto;
        }

        * {
            margin: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    &__bg {
        position: absolute;
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 100%;
        inset: 0;

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cta {
        margin: 0 auto;
        @include fluidRem(margin-top, 41px, 51px);
        justify-content: center;
        align-items: center;
        min-width: rem(235px);
        min-height: rem(60px);
    }
}
