@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.details {
    position: relative;
    padding-block: calc(var(--section_gap) + rem(72px))
        calc(var(--section_gap) + rem(72px));
    position: relative;

    &__txts {
        max-width: rem(1035px);
        margin: 0 auto;
        @include fluidRem(font-size, 16px, 22px);
        line-height: 100%;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        @include fluidRem(gap, 30px, 60px);

        h2,
        h3 {
            @include fluidRem(font-size, 30px, 90px);
            font-weight: 400;
            line-height: 100%;
            text-align: center;
            font-family: $ff_sec;
        }

        h4,
        h5,
        h6 {
            @include fluidRem(font-size, 20px, 50px);
            font-weight: 400;
            line-height: 100%;
            text-align: center;
            font-family: $ff_sec;
        }

        p {
            text-align: center;
        }

        * {
            margin: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    &__bg {
        position: absolute;
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 100%;
        inset: 0;

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
