@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.includes {
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include fluidRem(gap, 43px, 112px);
        padding-block: var(--section_gap);
    }

    &__list {
        max-width: rem(1325px);
        @include fluidRem(font-size, 14px, 20px);
        line-height: 100%;
        font-weight: 600;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        @include fluidRem(row-gap, 20px, 40px);
        @include fluidRem(column-gap, 20px, 80px);
        color: #000;
        li {
            display: flex;
            align-items: center;
            gap: rem(20px);

            img {
                width: rem(40px);
                aspect-ratio: 1;
                object-fit: contain;
            }
        }
    }
}
