@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.intro {
    display: flex;
    padding-top: calc(var(--header_h) + rem(12px));
    @include fluidRem(padding-bottom, 30px, 50px);

    &:has(.room-info) {
        .intro__preview {
            margin-bottom: calc(var(--header_h) / 4);
        }
    }

    &:has(.restaurant-list) {
        .intro__preview {
            margin-bottom: calc(var(--header_h) / 4);
        }
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &:has(.bg-branch) {
        overflow: hidden;
        .bg-branch {
            max-width: rem(1440px);
            transform: translateY(-25%);
            top: 0;
            z-index: 1;
        }
        .container {
            position: relative;
            z-index: 2;
        }
    }

    &__preview {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: calc(var(--header_h) / 2);
        @include fluidRem(gap, 40px, 50px);
        flex: 1;
    }
}

.room-info {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);
    color: #f5ece0cc;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fluidRem(gap, 20px, 50px);

        li {
            display: flex;
            align-items: center;
            gap: rem(12px);
            @include fluidRem(font-size, 16px, 20px);
            img {
                width: rem(36px);
                aspect-ratio: 1;
                object-fit: contain;
            }
        }
    }
}

.restaurant-reserve {
    display: flex;
    align-items: center;
    gap: rem(14px);
    a {
        @include fluidRem(font-size, 24px, 26px);
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.restaurant-list {
    flex-wrap: wrap;
    @include fluidRem(font-size, 14px, 20px);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluidRem(gap, 12px, 38px);

    li {
        &:not(:last-child) {
            @include fluidRem(padding-right, 12px, 38px);
            border-right: 1px solid $c_light;
        }
    }

    a {
        text-decoration: underline;
    }
}
