@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.location {
    padding-block: calc(var(--section_gap) - rem(15px));

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(45px);
        @include media('tablet') {
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include fluidRem(gap, 24px, 40px);
        @include media('tablet') {
            max-width: 100%;
            width: 100%;
        }
    }

    &__target {
        @include fluidRem(font-size, 20px, 30px);
        font-weight: 500;
        text-decoration: underline;
        color: #584738cc;
    }

    &__map {
        height: min(rem(659px), 95vh);
        height: min(rem(659px), 95svh);
        max-width: rem(872px);
        aspect-ratio: 872 / 659;
        overflow: hidden;
        @include media('tablet') {
            max-width: 100%;
            width: 100%;
        }

        @include media('mobile') {
            aspect-ratio: 340 / 283;
            height: min(rem(283px), 95vh);
            height: min(rem(283px), 95svh);
        }
        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
