@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.offers {
    padding-block: var(--section_gap);

    &__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        @include fluidRem(gap, 12px, 28px);
    }
}
