@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.offers {
    padding-block: var(--section_gap);

    &__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        @include fluidRem(column-gap, 12px, 28px);
        @include fluidRem(row-gap, 18px, 50px);
    }

    .empty-state {
        grid-column: span 3;
        text-align: center;
    }
}
