@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.overview {
    .bg-branch {
        top: 0;
        transform: scaleX(-1);
        max-width: 50%;
    }

    .section-subtitle {
        color: #000;
        @include fluidRem(margin-bottom, 24px, 80px);
    }

    &__details {
        max-width: rem(753px);
    }

    &__controls {
        display: flex;
        @include fluidRem(gap, 12px, 24px);
    }

    &__list {
        display: flex;
        flex-direction: column;
        @include fluidRem(gap, 18px, 30px);
        @include fluidRem(margin-bottom, 24px, 80px);

        li {
            display: flex;
            align-items: center;
            @include fluidRem(gap, 18px, 32px);
            @include fluidRem(font-size, 18px, 24px);
            color: #000;

            img {
                object-fit: contain;
                width: rem(106px);
                height: rem(80px);
            }
        }
    }

    &__content {
        display: flex;
    }

    &__pic {
        width: 50%;
        aspect-ratio: 960 / 1080;
        background: #d9d9d9;

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        @include fluidRem(padding-block, 24px, 115px);
        width: 50%;
        @include fluidRem(padding-right, 12px, 24px);
        padding-left: max(
            var(--container_pdd),
            calc((100% - #{$container_wdth}) / 2 + var(--container_pdd))
        );
    }

    &__title {
        @include fluidRem(margin-bottom, 18px, 30px);
        @include fluidRem(font-size, 16px, 20px);
        font-weight: 600;
        text-transform: uppercase;
    }
}
