@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.preview {
    position: relative;
    padding-top: var(--section_gap);
    .section-title {
        margin-bottom: var(--section_gap);
        @include media('mobile') {
            margin-bottom: rem(30px);
        }
    }

    &__bg {
        position: absolute;
        pointer-events: none;
        top: rem(24px);
        left: 0;
        z-index: -1;
        max-width: rem(680px);
        img {
            width: 100%;
        }
    }
}
